.seccion{
    justify-self: center;
    color: #ffffff;
    display: grid;
    grid-template-rows: repeat(2. 60px);
    grid-template-columns: repeat(4, 25%);
}

.img{
    
    background-color: #5a9191;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}

.logo{
   
    width: 100%;
    height: auto;
}

.A{
    grid-row: 2;
    grid-column: 1;
    background-color: #26a5a5;
    width: auto;
    height: 30px;
}
.B{
    grid-row: 2;
    grid-column: 2;
    background-color: #1e7a7a;
    width: auto;
    height: 30px;
}
.C{
    grid-row: 2;
    grid-column: 3;
    background-color: #116161;
    width: auto;
    height: 30px;
}
.D{
    grid-row: 2;
    grid-column: 4;
    background-color: #053a3a;
    width: auto;
    height: 30px;
}
